---
let error = '';
---

<form id="loginForm">
  <input name="email" type="email" required />
  <input name="password" type="password" required />
  <button type="submit">Iniciar sesion</button>
</form>
<p id="errorMsg"></p>

<script src="/scripts/login.js" type="module"></script>